.navClass{
    background-color: aqua;
    border-radius: 2vh;

}
li{
    list-style: none;
    padding: 10px;
    text-decoration: none;
}
.navClass ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;

    
}
.navClass ul li:hover{
    background-color: #000000;
    
}
#searchId{
    display:inline-block ;
    margin-left: 1200px;
    
}
#searchId input{
    border-radius: 5px;
    background-image: url(Search.jpg);
    background-size: cover;
    height: 50px;
    background-position: left;
    width: 200px;
    padding: 10px;
    padding-top: 10px;
}

.navClass ul li a {
    text-decoration: none;
    
}
